@media (prefers-color-scheme: dark) {

    :root,
    html {
        --background: #000;
        --text: #fff;
    }

    body {
        filter: invert(0);
    }
}

@media (prefers-color-scheme: light) {

    :root,
    html {
        --background: #fff;
        --text: #fff;
    }

    body {
        filter: invert(0.99);
    }
}

body {
    font-family: -apple-system, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    background-color: var(--background);

    height: 100%;
    width: 100%;
    position: absolute;
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stage {
    margin: 100px auto;
    position: relative;
}

.inverse-text {
    mix-blend-mode: difference;
    position: -webkit-sticky;
    margin: 8px auto;
}

.stage .presenter {
    position: relative;
    width: fit-content;
    margin: 10em 5em;
    padding: 30px 40px;
    border-radius: 15px;

    text-align: center;

    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text);
}

/* Smooth blur transition */
.stage .presenter::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    background: inherit;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    filter: blur(10px);
    opacity: 1;
    border-radius: 30px;
}

@media only screen and (max-width: 450px) {
    .stage .presenter {
        padding: 15px 20px;
    }

    .stage .presenter::before {
        content: '';
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
    }
}
